.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(23, 23, 23);
}
.list-item::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  opacity: 0;
  background: linear-gradient(to right, #0060a0, #01436f);
  transition: all 0.8s;
}
.list-item::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  width: 0;
  height: 4px;
  opacity: 0;
  background: linear-gradient(to left, #0060a0, #01436f);
  transition: all 0.8s;
}

.list-item:hover::before {
  width: 100%;
  opacity: 1;
}
.list-item:hover::after {
  width: 100%;
  opacity: 1;
}
